{% extends 'template.html.twig'%}

{% block title %}Students list{% endblock %}
{% block body %}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="row">
    {% for student in students %}
    <div class="card" style="width: 18rem; margin = 5px;">
        <div class="card-body" > 
            <h5 class="card-title">{{ student.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ student.firstname }} {{ student.name }}</h6>
            <a href="{{ path('student-detail', {id: student.id}) }}" class="card-link">
                <i class="fas fa-info-circle"></i>
            </a>
             {# <a href="{{ path('personne.detail', {id: student.id}) }}" class="card-link">
                <i class="fas fa-info-circle"></i>
            </a>
            <a href="{{ path('personne.delete', {id: student.id}) }}" class="card-link">
                <i class="fas fa-user-times"></i>
            </a>
            <a href="{{ path('personne.edit', {id: student.id}) }}" class="card-link">
                <i class="fas fa-user-edit"></i> 
            </a> #}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}