{# templates/classes/show.html.twig #}

{% extends 'template.html.twig' %}

{% block title %}Détails de la classe{% endblock %}

{% block body %} 
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>{{ classe.name }}</h1>

    <p>
        Niveau: {{ classe.level }}<br>
        {% if classe.level != "Maternelle" %}
            Section: {{ classe.section }}<br>
        {% endif %}
    </p>
    <p> Nombre d'étudiants : {{studentCount}}</p>

    <a href="{{ path('classes_list') }}" class="btn btn-secondary">Retour à la liste des classes</a>
    <a href="{{ path('evaluation_list', {'classId': classe.id}) }}" class="btn btn-secondary">Voir la liste des evaluations</a>
    <a href="{{path('evaluation_create',{'classId': classe.id})}}" class="btn btn-secondary">Créer une evaluation</a>



{% endblock %}