{% extends 'template.html.twig' %}

{% block title %}Créer une évaluation{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Créer une évaluation</h1>

    {{ form_start(form) }}

    <div class="row"> 
        <div class="col-md-6"> 
            {{ form_row(form.classe) }}
        </div>
        <div class="col-md-6"> 
            {{ form_row(form.cours) }}
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-6"> 
            {{ form_row(form.start_at) }}
        </div>
        <div class="col-md-6"> 
            {{ form_row(form.end_at) }}

        </div>
    </div>

    {{ form_row(form.evaluation_type) }}
    {{ form_row(form.max_points) }}
    

    {{ form_end(form) }}

{# {% block javascripts %}
    <script>
        document.getElementById('{{ form.classe.vars.id }}').addEventListener('change', function() {
            var classeId = this.value;
            fetch('/admin/classes/' + classeId + '/cours')
                .then(response => response.json())
                .then(data => {
                    var coursSelect = document.getElementById('{{ form.cours.vars.id }}');
                    coursSelect.innerHTML = '';
                    data.forEach(cours => {
                        var option = document.createElement('option');
                        option.value = cours.id;
                        option.text = cours.nom;
                        coursSelect.add(option);
                    });
                })
                .catch(error => console.error(error));
        });
    </script>
{% endblock %} #}

   
{% endblock %}