{% extends 'template.html.twig' %}

{% block title %}Créer une évaluation{% endblock %}

{% block body %}
    <h1>Créer une évaluation</h1>

    {{ form_start(form) }}

    <div class="row"> 
        <div class="col-md-6"> 
            {{ form_row(form.class_id) }}
        </div>
        <div class="col-md-6"> 
            {{ form_row(form.cours_id) }}
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-6"> 
            {{ form_row(form.start_at) }}
        </div>
        <div class="col-md-6"> 
            {{ form_row(form.end_at) }}

        </div>
    </div>

    {{ form_row(form.evaluation_type) }}
    {{ form_row(form.max_points) }}


    {{ form_end(form) }}



   
{% endblock %}