{# templates/cours/cours-list.html.twig #}

{% extends 'template.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div> 
        {% endfor %}
    {% endfor %}
    <h1>Liste des cours</h1>
<form method="get" action="{{ path('cours_list') }}" style="margin-bottom: 20px;">
    <div class="form-group">
        <label for="class_id">Sélectionnez une classe</label>
        <select name="class_id" id="class_id" class="form-control" onchange="this.form.submit()">
            <option value="">Toutes les classes</option>
            {% for class in classes %}
                <option value="{{ class.id }}" {% if class.id == selectedClass %}selected{% endif %}>
                    {{ class.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% if cours %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Classe</th>
                </tr>
            </thead>
            <tbody>
                {% for cours in cours %}
                    <tr>
                        <td>{{ cours.title }} </td>
                        <td>{{ cours.classe }}</td>
                        {# <td>{{ cours.teacher }}</td> #}
                        <td> <a href="{{ path('cours_details', { id: cours.id }) }}" title="Voir les détails">
                                <i class="fas fa-info"></i> {# Icône "+" #}
                            </a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun cours trouvé pour cette classe.</p>
    {% endif %}

    <a href="{{ addCourseLink }}" class="btn btn-primary">Ajouter un cours</a>
{% endblock %}